.liella-navbar{
    border-radius: 0px;
    border: none;
    margin: 0px;
    background-color: #fff;

    .liella-navbar-brand img {
        height: 100px;
    }
    .liella-navbar-item a{
        padding: 20px 15px!important;
        transition: all .2s;
        box-sizing: border-box;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2em;
    }
    .liella-navbar-item a:focus, .liella-navbar-item a:hover {
        background-color: #cca3c8;
        color: #fff!important;
        border: none;
        outline: none;
    }

    .liella-nav-collapse{
        align-items: stretch
    }

    .liella-navbar-dropdown-menu{
        box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px 0px
    }
}